.select-network-wrapper {
	padding: 0px;
}
.select-network-wrapper .ant-select-item-option {
	background: #1B1B36 !important;
	padding: 10px 12px;
	color: #fff !important;
	/* backdrop-filter: blur(13px); */
}
.select-network-wrapper .rc-virtual-list {
	background: #1B1B36 !important;

}

.select-network-wrapper .ant-select-item-option-disabled {
	opacity: 0.5;
}

.select-network-wrapper .ant-select-item-empty {
	background: #1B1B36 !important;

}

.select-network-wrapper .ant-empty-description {
	color: #fff;
}
